@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-bar-height: 59px;
  --left-navbar-width: 50px;
  --nav-bar-modal-visibility: hidden
}

@media (min-width: 768px) {
  body {
    --top-bar-height:  94px;
  }
}
@media (min-width: 1280) {
  body {
    --top-bar-height:  99px;
  }
  #nav-bar-modal {
    visibility: hidden;
  }
}

#nav-bar-modal {
  visibility: var(--nav-bar-modal-visibility);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.story-bg {
  background: linear-gradient(to bottom, #00000000, #00000070);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.img-modal-height {
  /* height: 100vh; */
  /* 130px */
  height: calc(100vh - var(--top-bar-height));
  min-height: 700px;
}

.nav-link, .nav-link-m {
  background-color: transparent;
}

.nav-link .temp-bg, .nav-link-m .temp-bg {
  width: 0%;
  height: 100%;
  background-color: #E8E9FF;
  transition: width 500ms ;
}
.nav-link:hover  .temp-bg, .nav-link-m:hover .temp-bg {
  width: 100%;
  background-color: #E8E9FF;
  transition: width 500ms ;
}

.nav-link-selected, .nav-link-m-selected{
  color: white;
  background-color: #7950F2;
  transition-property: color, background-color;
  transition-duration: 500ms;
}


.nav-link-m {
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 500ms;
}
.nav-link-m:hover {
  background-color: #E8E9FF;
  transition-property: color, background-color;
  transition-duration: 500ms;
}


/* .nav-link-selected .temp-bg {
  width: 0%;
  height: 100%;
  background-color: transparent;
  transition: width 500ms ;
}
.nav-link-selected:hover .temp-bg {
  width: 100%;
  background-color: #E8E9FF;
  transition: width 500ms ;
} */

/* .nav-link:hover {
  background-color: #E8E9FF;
} */


@layer utilities {
  .scroll-left-btn {
    @apply absolute z-10 top-1/2 p-2 text-white dark:text-black bg-purple-700 dark:bg-purple-300 bg-opacity-70 dark:bg-opacity-70 aspect-square rounded-full left-2.5 sm:left-10
  }
  .scroll-right-btn {
    @apply absolute z-10 top-1/2 p-2 text-white dark:text-black bg-purple-700 dark:bg-purple-300 bg-opacity-70 dark:bg-opacity-70 aspect-square rounded-full right-2.5 sm:right-10
  }

  .simple-border {
    @apply border border-gray-200 dark:border-slate-800
  }
  .bg-base-main {
    @apply bg-white dark:bg-black  transition-colors duration-500
  }
  .bg-base-1 {
    @apply bg-[#F8FAFB] dark:bg-slate-900 transition-colors duration-500
  }

  .section-heading {
    @apply w-full flex justify-between items-center pl-3 pr-5 md:pr-10 text-black dark:text-white
  }
  .section-heading h3 {
    @apply text-xl sm:text-2xl font-semibold
  }
  .section-heading button {
    @apply text-[#9058FF] dark:text-[#898EFC] font-semibold text-xs sm:text-base md:text-xl hover:underline
  }

  .special-keys-list > button {
    @apply flex 2xl:mt-14 items-center rounded-full 2xl:rounded-[10px] space-x-2.5 w-auto 2xl:w-[232px] bg-[#E8E9FF] hover:bg-[#9058FF] text-[#53545C] font-semibold hover:text-white transition-colors p-2 2xl:px-[16px] 2xl:py-[11px]
  }
  .special-keys-list > button > span{
    @apply hidden 2xl:block text-sm
  }

  .special-keys-list-m > button {
    @apply flex mt-5 mb-5 items-center rounded-[10px] space-x-2.5 w-full bg-[#E8E9FF] hover:bg-[#9058FF] text-[#53545C] font-semibold hover:text-white transition-colors px-[12px] py-[10px]
  }
  .special-keys-list-m > button > span{
    @apply block text-sm leading-4
  }

  .nav-link:hover, .nav-link-m:hover {
    @apply dark:text-black;
  }
  .nav-link-selected:hover, .nav-link-m-selected:hover {
    @apply text-white dark:text-black;
    background-color: #E8E9FF;
    transition-property: color, background-color;
    transition-duration: 500ms;
  }

  .nav-link, .nav-link-m {
    @apply text-[#53545C] dark:text-slate-100
  }
  
  .nav-link, .nav-link-selected, .temp-bg {
    @apply rounded-full 2xl:rounded-xl
  }
  .nav-link-selected .nav-content, .nav-link .nav-content {
    @apply px-2 py-2 relative 2xl:my-0 2xl:px-5 2xl:py-4
  }
  .nav-link .alert {
    @apply absolute top-0 right-0 z-10 w-5 bg-opacity-90 2xl:bg-opacity-100 2xl:static text-[10px] 2xl:text-xs 2xl:ml-4 2xl:w-6 aspect-square bg-[#7950F2] text-white font-bold rounded-full  leading-none flex items-center justify-center
  }
  #navbar img {
    @apply w-7 h-7 2xl:w-6 2xl:h-6
  }
  
  
  .nav-link-m, .nav-link-m-selected, .temp-bg {
    @apply rounded-xl overflow-hidden
  }
  .nav-link-m-selected .nav-content, .nav-link-m .nav-content {
    @apply px-3 py-2.5
  }
  .nav-link-m .alert-b {
    @apply text-xs ml-4 w-6 aspect-square bg-[#7950F2] text-[#E8E9FF] font-extrabold rounded-full  leading-none flex items-center justify-center
  }
  

  
  .view-btn {
    /* dark:text-white  dark:bg-[#7950F2] */
    @apply text-[#7750F1]  bg-[#E8E9FF]  hover:bg-[#7950F2] hover:text-white  transition-colors rounded-xl   font-semibold text-xs sm:text-lg 
  }
  .three-dot {
    @apply bg-purple-50 border border-[#ded9f0] text-[#9058FF] hover:bg-[#7950F2] hover:border-[#7950F2] hover:text-white transition-colors items-center flex justify-center rounded-xl px-5
  }
}

