@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-bar-height: 59px;
  --left-navbar-width: 50px;
  --nav-bar-modal-visibility: hidden
}

@media (min-width: 768px) {
  body {
    --top-bar-height:  94px;
  }
}
@media (min-width: 1280) {
  body {
    --top-bar-height:  99px;
  }
  #nav-bar-modal {
    visibility: hidden;
  }
}

#nav-bar-modal {
  visibility: var(--nav-bar-modal-visibility);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.story-bg {
  background: linear-gradient(to bottom, #00000000, #00000070);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.img-modal-height {
  /* height: 100vh; */
  /* 130px */
  height: calc(100vh - var(--top-bar-height));
  min-height: 700px;
}


@layer utilities {

  /** Main Navbar and Modal Navbar combined properties */
  #main-nav img, #nav-modal img {
    @apply w-7 h-7 2xl:w-6 2xl:h-6
  }
  #main-nav > a.selected, #nav-modal > a.selected {
    @apply text-white bg-[#7950F2] transition-colors
  }
  #main-nav > a, #nav-modal > a {
    @apply relative bg-transparent text-[#53545C] dark:text-slate-100 rounded-full 2xl:rounded-xl
  }
  #main-nav > a:hover, #nav-modal > a:hover {
    @apply text-black dark:text-black
  }
  #main-nav > a > div, #nav-modal > a > div {
    @apply absolute size-full flex justify-center items-center
  }
  #main-nav > a > div > div, #nav-modal > a > div > div {
    @apply w-0 h-full bg-[#E8E9FF] transition-[width] duration-500 rounded-full 2xl:rounded-xl overflow-hidden
  }
  #main-nav > a:hover > div > div, #nav-modal > a:hover > div > div {
    @apply w-full
  }
  /** Main Nav Properties  */
  #main-nav > a > span{
    @apply flex items-center px-2 py-2 relative 2xl:my-0 2xl:px-5 2xl:py-4
  }
  #main-nav > a > span > span{
    @apply text-sm ml-4 font-semibold hidden 2xl:block
  }
  #main-nav .alert{
    @apply absolute top-0 right-0 z-10 w-5 bg-opacity-90 2xl:bg-opacity-100 2xl:static text-[10px] 2xl:text-xs 2xl:ml-4 2xl:w-6 aspect-square bg-[#7950F2] text-white font-bold rounded-full  leading-none flex items-center justify-center
  }
  /** Nav Modal Properties  */
  #nav-modal > a > span{
    @apply flex items-center px-3 py-2 relative 
  }
  #nav-modal > a > span > span{
    @apply text-sm ml-4 font-semibold block
  }
  #nav-modal .alert{
    @apply static text-[10px] ml-4 w-6 aspect-square bg-[#7950F2] text-white font-bold rounded-full  leading-none flex items-center justify-center
  }


  .scroll-left-btn {
    @apply absolute z-10 top-1/2 p-2 text-white dark:text-black bg-purple-700 dark:bg-purple-300 bg-opacity-70 dark:bg-opacity-70 aspect-square rounded-full left-2.5 sm:left-10
  }
  .scroll-right-btn {
    @apply absolute z-10 top-1/2 p-2 text-white dark:text-black bg-purple-700 dark:bg-purple-300 bg-opacity-70 dark:bg-opacity-70 aspect-square rounded-full right-2.5 sm:right-10
  }

  .simple-border {
    @apply border border-gray-200 dark:border-slate-800
  }
  .bg-base-main {
    @apply bg-white dark:bg-black  transition-colors duration-500
  }
  .bg-base-1 {
    @apply bg-[#F8FAFB] dark:bg-slate-900 transition-colors duration-500
  }

  .section-heading {
    @apply w-full flex justify-between items-center pl-3 pr-5 md:pr-10 text-black dark:text-white
  }
  .section-heading h3 {
    @apply text-xl sm:text-2xl font-semibold
  }
  .section-heading button {
    @apply text-[#9058FF] dark:text-[#898EFC] font-semibold text-xs sm:text-base md:text-xl hover:underline
  }

  .special-keys-list > button {
    @apply flex 2xl:mt-14 items-center rounded-full 2xl:rounded-[10px] space-x-2.5 w-auto 2xl:w-[232px] bg-[#E8E9FF] hover:bg-[#9058FF] text-[#53545C] font-semibold hover:text-white transition-colors p-2 2xl:px-[16px] 2xl:py-[11px]
  }
  .special-keys-list > button > span{
    @apply hidden 2xl:block text-sm
  }

  .special-keys-list-m > button {
    @apply flex mt-5 mb-5 items-center rounded-[10px] space-x-2.5 w-full bg-[#E8E9FF] hover:bg-[#9058FF] text-[#53545C] font-semibold hover:text-white transition-colors px-[12px] py-[10px]
  }
  .special-keys-list-m > button > span{
    @apply block text-sm leading-4
  }


  .view-btn {
    /* dark:text-white  dark:bg-[#7950F2] */
    @apply text-[#7750F1]  bg-[#E8E9FF]  hover:bg-[#7950F2] hover:text-white  transition-colors rounded-xl   font-semibold text-xs sm:text-lg 
  }
  .three-dot {
    @apply bg-purple-50 border border-[#ded9f0] text-[#9058FF] hover:bg-[#7950F2] hover:border-[#7950F2] hover:text-white transition-colors items-center flex justify-center rounded-xl px-5
  }
}

